<html>

<head> WELCOME to my Home page  </head>
<br> <br>
<head> {{greeting_msg}}  </head>

<br> <br>
<br> <br>
<br> <br>
<br> <br>
<body>


<h1>configured by {{org_name}}</h1>
<h2>Provisioned by {{provisioner_name}}</h2>
<h3>Automation tool {{tool_name}}</h3>
<br> <br>
<h4> can you print my hostnames ? ==> "{{ ansible_hostname }}" </h4>
</body>




</html>
